body {
  text-align: center;
  padding: 20px;
  font-family: sans-serif;
}

input, select, button {
  padding: 8px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#resultado-calculadora {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #222;
}
